<ul class="patients">
    {% for patient in patients %}
        <div class="post-content">
            <div class="post-body">
                <h4><b>{{ patient.patient_name }} </b>
                    <small>Date: {{ patient.submission_datetime.date() }} | </small>
                    <small>Time: {{ patient.submission_datetime.time() }}</small>
                </h4>          
                <ul>
                    <li>Doctor ID: {{ patient.doctor_id }}</li>
                    <li>Age: {{ patient.age }}</li>
                    <li>Sex: {{ patient.sex }}</li>
                    <li>Chest pain type: {{ patient.cp }}</li>
                    <li>Resting blood pressure: {{ patient.trestbps }} mmHg</li>
                    <li>Cholesterol: {{ patient.chol }} mg/dL</li>
                    <li>Fasting blood sugar greater than 120 mg/dL: {{ patient.fbs }}</li>
                    <li>ECG: {{ patient.restecg }}</li>
                    <li>Maximum heart rate: {{ patient.thalach }} bpm</li>
                    <li>Exercise-induced angina: {{ patient.age }}</li>
                    <li>ST-depression: {{ patient.oldpeak }}</li>
                    <li>ST segment slope characteristic: {{ patient.slope }}</li>
                    <li>Number of major vessels colored by fluoroscopy: {{ patient.ca }}</li>
                    <li>Thalium stress test: {{ patient.thal }}</li>
                    <li>Probability of heart disease : {{ patient.disease_proba }}%</li>
                </ul>
            </div>
        </div>
        <hr>
    {% endfor %}
    {% if not patients: %}
    <br>
    <h4>No patients found.</h4>
    {% endif %}
</ul>